/* ======================================================== */
/* font : NotoSansKR */
/* ======================================================== */
@font-face {
  font-family: "NotoSansKR-100";
  src: url("/css/fonts/NotoSansKR-Thin.otf");
  font-weight: 100;
}
@font-face {
  font-family: "NotoSansKR-300";
  src: url("/css/fonts/NotoSansKR-Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "NotoSansKR-400";
  src: url("/css/fonts/NotoSansKR-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "NotoSansKR-500";
  src: url("/css/fonts/NotoSansKR-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "NotoSansKR-700";
  src: url("/css/fonts/NotoSansKR-Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "NotoSansKR-900";
  src: url("/css/fonts/NotoSansKR-Black.otf");
  font-weight: 900;
}
@font-face {
  font-family: "NanumMyeongjo-900";
  src: url("/css/fonts/NanumMyeongjo-ExtraBold.ttf");
  font-weight: 900;
}

/* ======================================================== */
/* font defualt(400) */
/* ======================================================== */
body {
  font-family: "NotoSansKR-400"; 
  font-size: 16px; 
  line-height: 1.4; 
  color: #333;
}

/* ======================================================== */
/* title */
/* ======================================================== */
h1, .h1 {
  font-size: 40px;
  font-family: "NotoSansKR-700";
  color: #2c2151;
}

h2, .h2 {
  font-size: 28px;
  font-family: "NotoSansKR-500";
  color: #2c2151;
}
h2 > span{font-family: "NotoSansKR-700";}
.text-gray-400{color: #505050;}

.text-c{text-align: center !important;}
.text-l{text-align: left !important;}
.text-r{text-align: right !important;}

img {
  display: block;
}
